{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">

                            <div class="card-body">

                                <h5 class="mt-5">Cluster Backup</h5>
                                <hr>




                                    <form>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Namespace</label>
    <div class="col-sm-2">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Name space">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Destination Network Address</label>
    <div class="col-sm-2">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Destination Network Address">
    </div>
  </div>

                                        <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Source FileSystem Path</label>
    <div class="col-sm-2">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Source FileSystem Path">
    </div>
  </div>


                                        <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">SSH Username</label>
    <div class="col-sm-2">
      <input type="password" class="form-control" id="inputPassword3" placeholder="SSH Username">
    </div>
  </div>

                                        <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">SSH Password</label>
    <div class="col-sm-2">
      <input type="password" class="form-control" id="inputPassword3" placeholder="SSH Password">
    </div>
  </div>

                                        <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Get Available Backups</button>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2">Advanced</div>
    <div class="col-sm-4">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
        </label>
      </div>
    </div>




       <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Namespace</label>
    <div class="col-sm-2">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Take from backup file">
    </div>
  </div>



       <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Threads</label>
    <div class="col-sm-2">
      <input type="email" class="form-control" id="inputEmail3" placeholder="20">
    </div>
  </div>



      <div class="col-sm-2">Missing Records Only</div>
    <div class="col-sm-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
        </label>
      </div>
    </div>


      <div class="col-sm-2">Ignore Generation Numbers</div>
    <div class="col-sm-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
        </label>
      </div>
    </div>


  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <button type="submit" class="btn btn-primary">Restore</button>
    </div>
  </div>
</form>


                            </div>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
